.image-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	>li {
		flex-basis: 350px;
	}
	li {
		img {
			object-fit: cover;
			max-width: 100%;
			height: auto;
			vertical-align: middle;
			border-radius: 5px;
		}
	}
}
.gallery-item-image {
	&:nth-child(11n+1) {
		grid-column: span 1;
	}
	&:nth-child(11n+4) {
		grid-column: span 2;
		grid-row: span 1;
	}
	&:nth-child(11n+6) {
		grid-column: span 3;
		grid-row: span 1;
	}
	&:nth-child(11n+7) {
		grid-column: span 1;
		grid-row: span 2;
	}
	&:nth-child(11n+8) {
		grid-column: span 2;
		grid-row: span 2;
	}
	&:nth-child(11n+9) {
		grid-row: span 3;
	}
}
.gallery-item-image-big {
	height: 250px;
	width: 250px;
}
@media (min-width: 320px) {
	.image-gallery {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (min-width: 768px) {
	.image-gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1024px) {
	.image-gallery {
		grid-template-columns: repeat(6, 1fr);
	}
}